<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090037862392-bsihvjq3mfl2uab3o083bhblhcpaafso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090037862392-bsihvjq3mfl2uab3o083bhblhcpaafso</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1090037862392-drog9sl1r9j5o16dcmgtujml804l440r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVpYerskq1Kf_1QjrrE9Xf_rmYqDfMEKU</string>
	<key>GCM_SENDER_ID</key>
	<string>1090037862392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thesis.audity.AudityAppMobile</string>
	<key>PROJECT_ID</key>
	<string>fir-multimedia-storage</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-multimedia-storage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090037862392:ios:3aab50915bb77ad10f100d</string>
</dict>
</plist>